{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/book/index.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Crud Demo</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1>Books</h1>
      <form>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Book</th>
              <th>Author</th>
              <th>
                <a href="#" class="add_book" data-toggle="modal" data-target="#add_book_modal">
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            {%for book in books%}
            <tr>
              <td>{{book.name}}</td>
              <td>{{book.author}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      <form>
    </div>
    <div class="modal fade" id="add_book_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Book</h4>
        </div>
        <div class="modal-body">
          <label for="uname"><b>Name</b></label>
          <input type="text" class="form-control" name="book_name">
          <label for="uname"><b>Author</b></label>
          <input type="text" class="form-control" name="author_name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </body>
</html>
